@import "tailwindcss";
@import "@fontsource/inter";

@theme {
  --color-brand-orange: #F97316;
  --color-brand-black: #0f0f0f;
  --color-brand-grey: #F3F4F6;
  --color-brand-white: #FFFFFF;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
  background-color: var(--color-brand-white);
  color: var(--color-brand-black);
}